{% extends 'base.html' %}

{% block body %} 
<style>
body{
    
    /* background-image: url('../static/images/hb2.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
img{
    border-radius: 14px;
}
    H1 {
       position: relative;
       right: -650PX;
       top: -350PX;
       color:#000000;
       font-size: 60px;

    }

p{
position: relative;
right: -680px;
top: -300px;
font-family:monospace;
font-size: 18px;
color: #000000;
}

span{
    position: relative;
right: -650px;
top: -310px;
color: rgb(221, 67, 157);
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
        bottom: 100px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <!-- <img height="450px" width="450px" style="position: relative; top: 50px; left: 90PX;" src="../static/images/homepage1.png"> -->
        <video height="450px" width="450px" style="position: relative; top: 50px; left: 90PX;" autoplay loop>
            <source src="/static/images/addexp.gif">
            <!--<source src="/static/images/hbg1.ogg" type="video/ogg">-->
          Your browser does not support the video tag.
          </video>
        <h1 style="color: #333ebe;">LET'S SAVE MORE</h1>
        <P>CashBook helps<br> you to save your cash more.</P>
             <span  class="btn btn-outline-dark"><a style="color: #333ebe;" href="/add">Let's Calculate</a></span>
        <img height="500px" width="600px" style="position: relative; top: -615PX; left: -100PX;" src="../static/images/addexp1.jpeg">
         
    </div>
</div>

{% endblock %}